{% extends 'AdminBundle::layout.html.twig' %}


{% block content %}
<h1>{{ action_title }}</h1>

{% if toolbar is defined  %}
    {% include 'AdminBundle:Admin:toolbar.html.twig'
    with {'toolbar': toolbar} only %}
{% endif %}

<form action="{{ path(update_route, { 'id': entity.id }) }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">{% trans %}Update{% endtrans %}</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path(list_route) }}">{% trans %}Back to the list{% endtrans %}</a>
    </li>
</ul>
{%endblock content %}