{% extends 'AdminBundle::layout.html.twig' %}


{% block content %}
<h1>{{ action_title | trans() }}</h1>

<form action="{{ path(create_route) }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">{{ 'Create' | trans() }}</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path(list_route) }}">
            {{ 'Back to the list' | trans }}
        </a>
    </li>
</ul>
{%endblock content %}